body {
  background-color: #333;
  margin: 0 !important;
  background-image: url(https://www.bhmpics.com/download/colorful_candy_background-1920x1080.jpg), linear-gradient(to bottom, #1b1b1b 300px, transparent);
  background-blend-mode: overlay;
  background-attachment: fixed;
}

.gg_Navigation {
  height: 100px;
  width: 900px;
  margin: 0 auto;
}

.gg_Navigation > .brand {
  font-family: Satisfy;
  color: rgb(255, 197, 87);
  font-size: 30px;
  float: right;
  height: 100px;
  line-height: 100px;
  margin-right: 100px;
}

.gg_Navigation > ul {
  padding: 0 !important;
  list-style-type: none;
  display: inline-block;
  height: 100%;
  margin: 0;
}

.gg_Navigation > ul > li {
  display: inline-block;
  width: auto;
  height: 100%;
  margin: 0 0 0 5px;
}

.gg_Navigation > ul > li > a {
  line-height: 100px;
  display: inline-block;
  height: 100%;
  font-family: Lato;
  color: #ccc;
  font-size: 15px;
  text-decoration: none;
}

.gg_Navigation > ul > li > a.active {
  color: rgb(255, 197, 87) !important;
}

.gg_Navigation > ul > li > a:hover {
  color: #fff;
}

.gg_Slider_p {
  height: 300px;
  width: 900px;
  position: relative;
  margin: 0 auto 100px auto;
}

.gg_Slider_p:after {
  position: absolute;
  top:
}

.gg_Slider {
  width: 800px;
  height: 100%;
  background-color: #2b2b2b;
}

.gg_Slider > ._block {
  width: 350px;
  background-color: #fff;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 0;
}

.gg_Slider > ._content {
  width: 550px;
  height: 100%;
}

.gg_Slider > ._content ._item.active {
  display: block;
}

.gg_Slider > ._content ._item {
  box-sizing: border-box;
  padding: 0 15px 15px 15px;
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  background-blend-mode: overlay;
}

.gg_Slider > ._content ._item > a {
  position: absolute;
  top: 0;
  right: -250px;
  height: 100px;
  width: 250px;
  background-color: #262626;
  font-size: 20px;
  line-height: 100px;
  display: inline-block;
  color: #fff;
  font-family: Lato;
  text-decoration: none;
  box-sizing: border-box;
  padding-left: 50px;
}

.gg_Slider > ._content ._item > a > i {
  background-color: #222;
  width: 100px;
  height: 100%;
  float: right;
  text-align: center;
  font-size: 30px;
  transition: 0.3s ease-in-out;
}

.gg_Slider > ._content ._item > a:hover > i {
  color: rgb(255, 197, 87);
}

.gg_Slider > ._content ._item > h1 {
  display: inline-block;
  font-family: Montserrat;
  margin: 0;
  height: 100px;
  line-height: 100px;
  font-size: 24px;
  color: rgb(255, 197, 87);
}

.gg_Slider > ._content ._item > p {
  margin: 0;
  color: #fff;
  font-family: Lato;
  display: inline-block;
  width: 400px;
}

.gg_Slider_Nav {
  width: 100px;
  height: 100%;
  background-color: rgb(255, 197, 87);
  float: left;
}

.gg_Slider_Nav > span {
  width: 100%;
  height: 100px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  cursor: pointer;
}

.gg_Slider > ._content ._item > a > i:before, .gg_Slider_Nav > span:before {
  line-height: 100px;
}

.gg_Slider ._block ._items {
  width: 250px;
  float: left;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.gg_Slider ._block ._items::-webkit-scrollbar {
  width: 0;
}

.gg_Slider ._block ._items > ._item {
  height: 100px;
  box-sizing: border-box;
  display: table;
  border-right: 5px solid #CCC;
  width: 100%;
  transition: 0.3s ease-in-out;
  background-image: none !important;
}

.gg_Slider ._block ._items > ._item.active {
  border-right: 5px solid rgb(255, 197, 87);
}

.gg_Slider ._block ._items > ._item > span {
  display: table-cell;
  vertical-align: middle;
  box-shadow: inset 0 -1px 0 0px #E8E8E8;
  opacity: 0.3;
  padding: 0 10px;
  transition: 0.3s ease-in-out;
}

.gg_Slider ._block ._items > ._item.active > span {
  opacity: 1;
}

.gg_Slider ._block ._items > ._item h1 {
  margin: 0 0 10px 0;
  font-size: 17px;
  font-family: Montserrat;
}

.gg_Slider ._block ._items > ._item p {
  margin: 0;
  font-family: Lato;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  display: none;
}

.gg_Slider ._block ._items > ._item a {
  display: none;
}

.gg_Header {
  height: 100px;
  width: 900px;
  margin: 0 auto;
}

.gg_Header > h1 {
  font-size: 24px;
  font-family: Montserrat;
  text-transform: uppercase;
  display: inline-block;
  height: 100%;
  width: 350px;
  float: right;
  background-color: #fff;
  line-height: 100px;
  margin: 0;
}

.gg_Main {
  background-color: #fff;
  width: 900px;
  min-height: 100px;
  height: auto;
  margin: 0 auto;
  display: table;
  margin-bottom: 20px;
}

.gg_Main > div {
  float: left;
  display: none;
  font-family: Lato;
}

.gg_Main > div.active {
  display: block;
}

.gg_Main h1 {
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 24px;
}

.gg_Main > div .item {
  float: left;
}

.gg_Main > div .item > img {
  width: 550px;
}

.gg_Main > div .item > .desc {
  text-align: justify;
  width: 350px;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
}

.gg_Main > div .item > .desc, .gg_Main > div .item > img {
  float: left;
}
