.sticky_navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    height: 70px;
}

.sticky_navigation > ul {
    line-height: 70px;
    display: table;
    list-style-type: none;
    text-align: center;
}

.sticky_navigation > ul > li {
    display: table-cell;
}

.sticky_navigation > ul > li > a {
    font-weight: 300;
    font-family: Lato;
    color: #000;
}

.sticky_navigation > ul > li > a.active {
    font-weight: bold;
}

.container .container_body {
    padding: 0 !important;
}

.v2_system_social .menu_arrow, .v2_system_social .profile_menu .menu_icon, .v2_system_social .profile_menu a.menu_link .menu_icon.fa.fa-twitch, .v2_system_social table.header .cover .cover_edit, .v2_system_social table.header td.spacer_col {
    display: none !important;
}

.v2_system_social table.header .cover_header_online {
    text-shadow: 0 0 0;
}

.v2_system_social table.header .cover_header_name_text, .v2_system_social table.header .cover_header_quote_text, .v2_system_social table.header .cover_header_location {
    color: #000;
    text-shadow: 0 0 0;
    font-family: lato;
}

.v2_system_social table.header .avatar_edit {
    margin: 0 !important;
}

.v2_system_social table.header td.avatar_col {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    z-index: 500;
}

.v2_system_social table.header .avatar {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    background-position: center;
    text-align: center;
    line-height: 150px;
}

.v2_system_social table.header .cover {
    background-image: none !important;
    border: none;
    max-width: none;
}

.v2_system_social .profile_menu a.menu_link.hide {
    display: none !important;
}

.v2_system_social.main_container {
    margin-top: 0 !important;
}

.v2_system_social .profile_menu a.menu_link {
    display: table-cell !important;
    padding: 0;
    line-height: 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-family: Lato;
    font-size: 17px;
}

.v2_system_social a.menu_link.menu_selected {
    font-weight: bold;
    color: #000;
}

.v2_system_social table.header {
    margin-top: 13px;
}

.v2_system_social .profile_menu {
    float: none;
    width: 100%;
    text-align: center;
    display: table;
    height: 70px;
}

.v2_system_social .profile_menu.v2_sticky {
    position: fixed;
    top: 0;
    width: 1044px;
    background-color: #D6D6D6;
    z-index: 1000;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
}

.v2_system_social.main_container {
    position: relative;
}

.v2_system_social .sidebar_widget {
    width: 418px !important;
}

.v2_system_social .middle {
    float: right !important;
    margin: 0 0 0 15px !important;
    width: auto;
    max-width: none;
    min-width: 0;
}

.v2_system_social .profile_sidebar {
    float: left !important;
}

.v2_system_social .sidebar_container {
    transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    top: 0;
}

.v2_system_social .sidebar_container.v2_sticky {
    top: -185px !important;
}

body {
        background-color: #d6d6d6 !important;
        background-image: none;
}

.navigation > ul > li > ul {
    position: absolute;
    padding-left: 0;
    z-index: 100;
    list-style-type: none;
    width: 100%;
    top: 130%;
    opacity: 0;
    padding-top: 1px;
    transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    visibility:hidden!important;
}

.navigation > ul > li > ul > li {
    margin-bottom: 1px;
}

.navigation > ul > li > ul > li:last-child {
    margin-bottom: 0;
}

.navigation > ul > li > ul > li > a {
    background-color: #fff;
    color: #000;
    font-family: Lato;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 4px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
}

.navigation > ul > li > ul > li > a:hover {
    background-color: #E8E8E8;
}

.navigation > ul > li:hover ul {
    opacity: 1;
    top: 100%;
    visibility:visible!important;
}

@-webkit-keyframes slide {
    0% {
        top: 100%;
    }
    
    100% {
        bottom: 1px;
    }
}

@-moz-keyframes slide {
    0% {
        top: 100%;
    }
    
    100% {
        bottom: 1px;
    }
}

@keyframes slide {
    0% {
        top: 100%;
    }
    
    100% {
        bottom: 1px;
    }
}

#enjin-bar, .page-outer-left, .page-outer-right, .container_spacer, .section-border {
    display: none !important;
}

#page {
    width: 100%;
    max-width: none;
    min-width: 0;
}

#site-body > div:nth-child(2) .section-collection {
    width: 1044px !important;
    margin: 0 auto;
}

#page-wrap {
    background-color: transparent;
}

.m_html {
    padding: 0 !important;
}

.main_header {
    position: relative;
    background: url(http://orig11.deviantart.net/d5d8/f/2015/204/7/f/skylands_main_1_by_exodioum-d92itvo.jpg) fixed;
}

.navigation {
    width: 100%;
    margin-top: 26px;
    height: 80px;
    bottom: 1px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigation > ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    height: 100%;
    position: relative;
}

.navigation > ul > li {
    display: inline-block;
    width: 237.5px;
    line-height: 80px;
    max-height: 80px !important;
    margin-right: 1px;
    position: relative;
}

.navigation > ul > li:last-child {
    width: 90px;
    margin-right: 0;
}

.navigation > ul > li:last-child > a {
    background-color: #1C242D;
}

.navigation > ul > li > a {
    font-size: 22px;
    color: #fff;
    background-color: #202A35;
    width: 100%;
    display: inline-block;
    transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
}

.navigation > ul > li > a.active {
    text-shadow: 0 0 3px #fff;
    background-color: #006BAB;
}

.navigation > ul > li > a:hover, .navigation > ul > li:hover > a {
    background-color: #00A1FF;
    text-shadow: 0 0 3px #fff;
}

.navigation > ul > li > p {
    position: absolute;
    bottom: 130%;
    opacity: 0;
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    color: #000;
    padding: 4px 0;
    margin-bottom: 1px;
    font-family: Lato;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.3px;
    transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    pointer-events: none !important;
    cursor: not-allowed !important;
}

.navigation > ul > li > p.active {
    opacity: 1;
    bottom: 100%;
}

.navigation > ul > li:hover p {
    opacity: 1;
    bottom: 100%;
}

.main_header > .brand {
    position: relative;
    height: 160px;
    line-height: 160px;
    margin: 0 auto;
    width: 1044px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main_header > .brand > h1 {
    font-family: 'Megrim', cursive;
    color: #fff;
    font-size: 35px;
    display: inline;
    padding: 24px 19px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-weight: bold;
}
